@model KWBlogg.Models.BlogPost



<article>
    <div class="row">
        <div class="span8">
            <div class="post-image">
                <div class="post-heading">
                    <h3>@Model.Title</h3>
                </div>
                @if (Model.MediaURL != null)
                {
                    <img class="img-responsive" src="@Model.MediaURL" alt="">
                }
            </div>

        </div>
        <div class="span4">
            <div class="meta-post">
                <ul>
                    <li><i class="icon-file"></i></li>
                    <li>By <a href="#" class="author">Ares E.</a></li>
                    <li>On <a href="#" class="date">@Model.Created</a></li>
                    @*<li>Tags: <a href="#">@Model.Tags</a></li>*@
                </ul>
            </div>
            <div class="post-entry">
                <div>
                    @Html.Raw(Model.Abstract)
                </div>
                @Html.ActionLink("read more", "Details", new { slug = Model.Slug })
            </div>
        </div>
        
    </div>
</article>